<ion-content>
  <ion-note color="warning" class="ion-padding ion-margin">
    ⚠️Se recuerda que estos datos son con fines EDUCATIVOS : NO SON REALES
  </ion-note>
  <ion-input
    fill="solid"
    type="number"
    min="0.1"
    label="Mounth"
    labelPlacement="floating"
    placeholder="Mounth"
    [(ngModel)]="convertOff.amountOff"
    [ngModelOptions]="{standalone:true}"
    (input)="convertOff.amountOff = convertOff.amountOff <=0 ? 0.1:convertOff.amountOff"
  ></ion-input>

  <ion-select
    fill="solid"
    [(ngModel)]="convertOff.fromOff"
    [ngModelOptions]="{standalone:true}"
    label="From"
    label-placement="floating"
    color="warning"
  >
    @for (cur of AllCurrencyOff; track $index) {
    <ion-select-option [value]="cur"
      >{{cur.currency.CurrencyCode}} ::: {{cur.priceToDOP}}
      DOP</ion-select-option
    >
    }
  </ion-select>

  <ion-input
    fill="solid"
    type="text"
    [value]="convertOff.toOff.currency.CurrencyCode"
    label="TO"
    labelPlacement="floating"
    placeholder="To"
    readonly="true"
  >
  </ion-input>

  <ion-button
    fill="outline"
    color="warning"
    (click)="getResult()"
    [disabled]="convertOff.fromOff.currency.Country===''"
    >Convert</ion-button
  >

  @if(resultConvert){
  <br />
  <ion-text class="ion-padding"> Result </ion-text> <br />
  <ion-text>
    {{resultConvert.convert.amount}} {{resultConvert.convert.from.CurrencyCode}}
    = {{resultConvert.result | number : '.1-3'}}
    {{resultConvert.convert.to.CurrencyCode}}</ion-text
  >
  }
</ion-content>
